<section class="doctors-hero">
  <div class="hero-content">
    <div><small>Doctor</small>
      <h1>Doctor Details</h1>
    </div>

    <nav class="breadcrumb fw-bold">
      <a class="fw-bold" href="#">Home &raquo; </a> <a class="fw-bold" href="#">Doctor's &raquo;</a>Doctor Details
    </nav>
  </div>
</section>

<div class="container py-5">
  <div class="text-center">
    <h6 class="section-title">Our <span class="highlight">Doctor Details</span></h6>
    <p class="section-subtitle">Who is behind the best medical service in our clinic?</p>
    <i class="icon  bi bi-droplet-fill "></i>
    <hr class="line_down"/>
  </div>
  <div class="row bg-white  mt-5 box">
    <div class="col-md-4 p-4 border-end">
      <img [src]="doctor.image" alt="Doctor" class="profile-img">
      <div class="profile-name mb-1">{{ doctor.name }}</div>
      <hr class="text-primary">

      <div class="profile-details mb-3">
        <p><strong>Speciality</strong>:{{ doctor.specialty }}</p>
        <hr class="text-primary">
        <p><strong>Education</strong>: MD, OB/GYN</p>
        <hr class="text-primary">
        <p><strong>Work Days</strong>: Monday, Wednesday, Thursday</p>
        <hr class="text-primary">
        <p><strong>E-mail:</strong>: {{ doctor.email }}</p>
        <hr class="text-primary">
        <p><strong>Phone:</strong>: {{ doctor.phone }}</p>
        <hr class="text-primary">
      </div>

      <div class="profile-social">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-skype"></i></a>
      </div>
    </div>

    <div class="col-md-8 p-4">
      <h4 class="mb-4">{{ doctor.name }}</h4>

      <div class="experience mb-4">
        <h5>Rprofile_description</h5>
        <p>{{ doctor.profile_description }}</p>
      </div>

      <div class="experience mb-4">
        <h5>Experience</h5>
        <p>{{ doctor.years_of_experience }} -Years</p>
      </div>

      <div class="experience">
        <h5>St Vincents Hospital – Sydney</h5>
        <div class="date">Aug 2011 to Present</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
      </div>
      <div class="container py-5">
        <h2 class="mb-4 fw-normal">Book An Appointment</h2>

        <form #appointmentForm="ngForm" (ngSubmit)="submitForm(appointmentForm)">
          <div class="row g-3">
            <!-- Name -->
            <div class="col-md-6">
              <input type="text" class="form-control form-input" placeholder="Your Name"
                     [(ngModel)]="appointment.patientName" name="name" required #name="ngModel"/>
              @if (name.invalid && name.touched) {
                <div class="text-danger">Name is required</div>
              }
            </div>

            <!-- Gender -->
            <div class="col-md-6">
              <select class="form-control form-input" [(ngModel)]="appointment.gender" name="gender" required
                      #gender="ngModel">
                <option value="" disabled selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              @if (gender.invalid && gender.touched) {
                <div class="text-danger">Gender is required</div>
              }
            </div>

            <!-- Phone -->
            <div class="col-md-6">
              <input type="tel" class="form-control form-input" placeholder="Phone Number"
                     [(ngModel)]="appointment.phone" name="phone" required pattern="^[0-9]{11}$" #phone="ngModel"/>
              @if (phone.invalid && phone.touched) {
                <div class="text-danger">Phone must be 11 digits</div>
              }
            </div>

            <!-- Email -->
            <div class="col-md-6">
              <input type="email" class="form-control form-input" placeholder="Your Email"
                     [(ngModel)]="appointment.email" name="email" required email #email="ngModel"/>
              @if (email.invalid && email.touched) {
                <div class="text-danger">Valid email is required</div>
              }
            </div>

            <!-- Date -->
            <div class="col-md-6">
              <input type="date" class="form-control form-input"
                     [(ngModel)]="appointment.date" name="date" required #date="ngModel"
                     (ngModelChange)="validateDateAndTime()" />
              @if (dateError) {
                <div class="text-danger">{{ dateError }}</div>
              }
            </div>

            <!-- Time -->
            <div class="col-md-6">
              <input type="time" class="form-control form-input"
                     [(ngModel)]="appointment.time" name="time" required #time="ngModel"
                     min="08:00" max="20:00"
                     (ngModelChange)="validateDateAndTime()" />
              @if (timeError) {
                <div class="text-danger">{{ timeError }}</div>
              }
            </div>

            <!-- Message -->
            <div class="col-12">
      <textarea class="form-control form-input" rows="5" placeholder="Your Message"
                [(ngModel)]="appointment.message" name="message"></textarea>
            </div>

            <!-- Submit -->
            <div class="col-12">
              <button type="submit" class="btn px-4"
                      [disabled]="appointmentForm.invalid || dateError || timeError">
                SEND MESSAGE
              </button>

            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
