.navbar{
  padding: 20px;
}
.top-bar {
  font-size: 0.85rem;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #0d6efd;
}

button.btn i {
  vertical-align: middle;
}

#login-button {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
}
.active-link{
  color: #0d6efd !important;
  font-weight: bold;
}

.animate-navbar {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
