.navbar{
  padding: 20px;
}
.top-bar {
  font-size: 0.85rem;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #51b8f2;
}

button.btn i {
  vertical-align: middle;
}

#login-button {
  padding: 10px 35px;
  border-radius: 30px;
  box-shadow: none;
  color: #51b8f2;
  background-color:#e3f5ff ;
}
#login-button:hover {
  color: #fff;
  background-color: #51b8f2;
}
.active-link{
  color: #51b8f2 !important;
  font-weight: bold;
}

.animate-navbar {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
