<!-- Top Contact Bar -->
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 contact-info">
        <span><i class="far fa-clock"></i> Monday - Friday 08:00-19:00</span>
        <span>Saturday and Sunday - CLOSED</span>
      </div>
      <div class="col-md-6 contact-info text-md-end">
        <span><i class="fas fa-phone"></i> (-001) 321-125-152</span>
        <span><i class="far fa-envelope"></i> contactProlexe.com</span>
        <span><i class="fas fa-map-marker-alt"></i> 27th Avenue, New York, W2 3XE</span>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">Prolexe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PAGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SHOP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
