<div class="container-fluid">
  <div class="container ">
    <div id="heading-box">
      <div class="heading  text-center mb-4 ">
        <h2 class="display-5">Why <span class="display-3">Choose </span> Us ?</h2>
      </div>
      <div class="lead">
        <p class="text-center mb-4 text-secondary">
          What other sais about clinic.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 col-md-6">
        <div class="item-block-06">
          <div class="item-content d-flex text-right">
            <div class="icon ">
              <i class="material-icons-outlined ">medical_services</i>
            </div>
            <div class=" ">
              <h6><a href="#">Professional Doctors</a></h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem accusantium dolor emque laudantium. nunc felis.
              </p>
            </div>
          </div>
        </div>
        <div class="item-block-06">
          <div class="item-content d-flex text-right">
            <div class="icon">
              <span class="material-icons-outlined ">monitor_heart</span>
            </div>
            <div class="">
              <h6><a href="#">Track your Progress</a></h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem accusantium dolor emque laudantium. nunc felis
              </p>
            </div>
          </div>
        </div>
        <div class="item-block-06">
          <div class="item-content d-flex text-right">
            <div class="icon">
              <span class="material-icons-outlined ">assignment</span>
            </div>
            <div class="">
              <h6><a href="#">Over 20 years of experience</a></h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem accusantium dolor emque laudantium. nunc felis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="item-block-06">
          <div class="item-content d-flex text-left">
            <div class="icon">
              <span class="bi bi-droplet"></span>
            </div>
            <div class="">
              <h6><a href="#">Exclusive Blood Bank</a></h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem accusantium dolor emque laudantium. nunc felis
              </p>
            </div>
          </div>
        </div>
        <div class="item-block-06">
          <div class="item-content d-flex text-left">
            <div class="icon">
              <span class="fas fa-ambulance"></span>
            </div>
            <div class="">
              <h6><a href="#">Emergency services</a></h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem accusantium dolor emque laudantium. nunc felis.
              </p>
            </div>
          </div>
        </div>
        <div class="item-block-06">
          <div class="item-content d-flex text-left">
            <div class="icon">
              <span class="fa-solid fa-stethoscope"></span>
            </div>
            <div class="">
              <h6><a href="#">We have experienced Doctor's.</a></h6>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem accusantium dolor emque laudantium. nunc felis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

