<section class="doctors-hero">
  <div class="hero-content">
    <div>    <small>Doctor's</small>
    <h1>Meet Our Doctors</h1>
  </div>

    <nav class="breadcrumb fw-bold">
      <a href="#">Home &raquo;  </a>      Doctor's
    </nav>
  </div>
</section>


<div class="container py-5">
  <div class="text-center">
    <h6 class="section-title">Qualified The <span class="highlight">Doctor's</span></h6>
    <p class="section-subtitle">Who is behind the best medical service in our clinic?</p>
    <i class="icon  bi bi-droplet-fill "></i>
    <hr class="line_down" />
  </div>
    <div class="row g-4 m-5">
              @for(doctor of doctors; track doctor.id){

      <div class="col-lg-3 col-md-6 col-sm-12">
      <app-doctor [doctor]="doctor"></app-doctor>
    </div>
  }
    </div>
</div>

