<section class="doctors-hero">
  <div class="hero-content">
    <div>
      <small>Contact Us </small>
      <h1>Contact</h1>
    </div>
    <nav class="breadcrumb fw-bold"><a href="#">Home &raquo;</a>Contact Us</nav>
  </div>
</section>

<!-- contact body -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="heading-box mb-5">
        <h2 class="heading text-center fw-bold">Contact With Us</h2>
        <h4 class="text-center text-secondary">
          If you have any query, don't hesitate to contact us.
        </h4>
      </div>
    </div>
  </div>
</div>

<section class="contact-section py-5 bg-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-5">
        <div class="media mt-4 d-flex align-items-start mb-3">
          <div class="me-3">
            <i class="bii bi bi-geo-alt-fill fs-4"></i>
          </div>
          <div>
            <p class="mb-5">848 E 28th Street, Giza<br />Eygpt, Giza</p>
          </div>
        </div>

        <div class="media d-flex align-items-start mb-3">
          <div class="me-3">
            <i class="bii bi bi-envelope-fill fs-4"></i>
          </div>
          <div>
            <p class="mb-5">
              Prolexe&#64;themeies.com<br />Prolexe&#64;themeies.com
            </p>
          </div>
        </div>

        <div class="media d-flex align-items-start mb-3">
          <div class="me-3">
            <i class="bii bi bi-telephone-fill fs-4"></i>
          </div>
          <div>
            <p class="mb-5">
              +02 0111 4751 979 (Telephone)<br />+02 01070 684 501 (WhatsApp)
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- NAME & EMAIL -->
          <div class="row mb-3">
            <div class="col-md-6">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Name:"
              />
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.hasError('required')
                "
              >
                Name is required.
              </div>
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.hasError('minlength')
                "
              >
                Name must be at least 3 characters long.
              </div>
            </div>
            <div class="col-md-6">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email:"
              />
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.hasError('required')
                "
              >
                Email is required.
              </div>
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.hasError('email')
                "
              >
                Invalid email format.
              </div>
            </div>
          </div>

          <!-- SUBJECT & PHONE -->
          <div class="row mb-3">
            <div class="col-md-6">
              <input
                type="text"
                formControlName="subject"
                class="form-control"
                placeholder="Subject:"
              />
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('subject')?.touched &&
                  contactForm.get('subject')?.hasError('required')
                "
              >
                Subject is required.
              </div>
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('subject')?.touched &&
                  contactForm.get('subject')?.hasError('minlength')
                "
              >
                Subject must be at least 10 characters long.
              </div>
            </div>
            <div class="col-md-6">
              <input
                type="tel"
                formControlName="phone"
                class="form-control"
                placeholder="Phone:" max="11" minlength="11" 
              />
              <div
                class="text-danger small"
                *ngIf="
                  contactForm.get('phone')?.touched &&
                  contactForm.get('phone')?.hasError('pattern')
                "
              >
                Phone number must start with 010, 011, 012, or 015 and be 11
                digits long.
              </div>
      
            </div>
          </div>

          <!-- MESSAGE -->
          <div class="mb-3">
            <textarea
              rows="5"
              formControlName="message"
              class="form-control"
              placeholder="Message:"
            ></textarea>
            <div
              class="text-danger small"
              *ngIf="
                contactForm.get('message')?.touched &&
                contactForm.get('message')?.hasError('required')
              "
            >
              Message is required.
            </div>
            <div
              class="text-danger small"
              *ngIf="
                contactForm.get('message')?.touched &&
                contactForm.get('message')?.hasError('minlength')
              "
            >
              Message must be at least 10 characters long.
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="contactForm.invalid"
          >
            <i class="bi bi-send me-2"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
