.carousel-caption {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
}

.carousel-caption h1,
.carousel-caption p {
  color: white;
}
.hero {
  margin-top: 0;
}

@media (min-width: 992px) {
  .hero {
    margin-top: 0;
  }
}
.slide-title{
  font-family: 'main-font-bold';
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.slide-desc{
  font-family: 'main-font-regular';
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
