<div class="edit-profile-container">
  <h2 class="m-auto">Edit Profile</h2>

  @if (errorMessage) {
    <div class="alert alert-danger">{{ errorMessage }}</div>
  }
  
  @if (successMessage) {
    <div class="alert alert-success">{{ successMessage }}</div>
  }

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="form-group text-center">
      <div class="image-upload-container">
        <div class="profile-image-wrapper">
          <img
            [src]="imagePreview"
            alt="Profile Image"
            class="profile-image"
          />
          <div class="image-actions">
            <label class="btn btn-sm btn-upload">
              Change
              <input 
                name="image"
                type="file" 
                accept="image/*" 
                style="display: none;"
                  (change)="onFileSelected($event)"
              >
            </label>
            @if (selectedImage) {
              <button 
                type="button" 
                class="btn btn-sm btn-remove"
                (click)="onRemoveImage()"
              >
               Remove
              </button>
            }
          </div>
        </div>
      </div>
    </div>
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
      @if (editForm.get('name')?.invalid && editForm.get('name')?.touched) {
        <div class="error-message">
          @if (editForm.get('name')?.errors?.['required']) {
            <div>Name is required</div>
          }
          @if (editForm.get('name')?.errors?.['minlength']) {
            <div>Name must be at least 3 characters</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
      @if (editForm.get('email')?.invalid && editForm.get('email')?.touched) {
        <div class="error-message">
          @if (editForm.get('email')?.errors?.['required']) {
            <div>Email is required</div>
          }
          @if (editForm.get('email')?.errors?.['email']) {
            <div>Please enter a valid email</div>
          }
           @if (editForm.get('email')?.errors?.['duplicate']) {
        <div>This email is already registered with another account</div>
      }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" formControlName="phone" />
      @if (editForm.get('phone')?.invalid && editForm.get('phone')?.touched) {
        <div class="error-message">
          @if (editForm.get('phone')?.errors?.['maxlength']) {
            <div>Phone must be 11 digits or less</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" formControlName="gender">
        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      @if (editForm.get('gender')?.invalid && editForm.get('gender')?.touched) {
        <div class="error-message">Gender is required</div>
      }
    </div>

    <div class="form-group">
      <label for="date_of_birth">Date of Birth</label>
      <input type="date" id="date_of_birth" formControlName="date_of_birth" />
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <textarea id="address" formControlName="address"></textarea>
      @if (editForm.get('address')?.invalid && editForm.get('address')?.touched) {
        <div class="error-message">
          Address must be 255 characters or less
        </div>
      }
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-outline-info" [disabled]="editForm.invalid ">
      save changes
      </button>
      <button type="button" class="btn btn-outline-secondary" routerLink="/patient_profile">
        Cancel
      </button>
    </div>
  </form>
</div>